* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
  box-sizing: border-box;
}

.header1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8.3vh;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 99;
  position: absolute;
  top: 0;
}

.imagemfundodiv {
  background-image: url(ImagensHome/home-banner.jpg);
  width: 100%;
  background-repeat: no-repeat;
  height: 42vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.div2 {
  display: flex;
  position: absolute;
  left: 20px;
  
  

}

.div7 {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.div8 {
  display: flex;
  justify-content: center;
}

.div9 {
  background-color: #04091e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 130px;
  gap: 120px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

nav svg {
  fill: white;
  width: 1.7%;
  margin-left: 100px;
}

.logo {
  display: flex;
  margin-left: -180px;
}

.logo img {
  height: 30px;
}

ul {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 12px;
  list-style: none;
  display: flex;
  gap: 35px;
}

ul a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.homeamarelo2 {
  color: white;
  transition: 0.5s;
}

.homeamarelo2:hover {
  color: #fcdc00;
  transition: 0.5s;
}

.homeamarelo {
  color: #fcdc00;
}

.services {
  color: white;
  position: relative;
  left: 75px;
}

.services h2 {
  font-weight: bold;
  color: #fff;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  padding-top: 60px;
}

.services2 {
  position: relative;
  top: 76px;
  right: 110px;
}

.services2 span {
  font-size: 14px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: 0.4s;
}

.services2:hover span {
  font-size: 14px;
  color: #fcdc00;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: 0.4s;
}

.services2 svg {
  fill: white;
  width: 12px;
  margin-left: 10px;
  transition: 0.4s;
}

.services2:hover svg {
  fill: #fcdc00;
  width: 12px;
  margin-left: 10px;
  transition: 0.4s;
}

.services3 {
  margin-left: 10px;
  position: relative;
  color: white;
  top: 76px;
  right: 105px;
  transition: 0.4s;
  font-family: sans-serif;
}

.services3:hover {
  margin-left: 10px;
  position: relative;
  color: #fcdc00;
  top: 76px;
  right: 105px;
  transition: 0.4s;
}

iframe {
  width: 70%;
  height: 500px;
  padding-bottom: 80px;
}

.display1 {
  font-family: sans-serif;
}

.display {
  font-family: sans-serif;
  position: relative;
  

  
}

.display p {
  font-family: sans-serif;
}

.div2 svg {
  fill: #fcdc00;
  width: 6%;
  position: relative;
  left: 260px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.div2 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.div2 h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-top: -7px;
}

.div2 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.div2 p {
  font-family: sans-serif;
  color: #868e96;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  max-width: 900px;
  margin: auto;
  
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.right-column {
  flex: 1;
}

input,
textarea {
  width: 500px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  margin-left: 50px;
  border: 1px solid #ccc;   
}

input:focus,
textarea:focus {
  border-color: #999;
  border: 1px solid #ccc; 
  
}

small {
  font-size: 13px;
  color: #777777;
  margin-top: 5px;
  display: block;
  margin-left: 50px;
  font-family: sans-serif;

}

textarea {
  min-height: 225px;
  width: 500px;
  resize: both;
  overflow: auto;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  border: 1px solid #ccc; 
}

.form-group {
  display: flex;
  flex-direction: column;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  max-width: 900px;
  margin: 30px auto 0;
}

.btn-submit {
  background-color: #ffe600;
  color: #000;
  font-weight: bold;
  padding: 10px 29px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
  font-weight: 700;
  font-family: sans-serif;
}

.btn-submit:hover {
  background-color: #ffdc00;
}


.btnfollow {
  color: black;
  background-color: #fcdc00;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: sans-serif;
  transition: 0.5s;
  margin-bottom: 80px;
}

.btnfollow:hover {
  color: black;
  background-color: #fcdc00;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: sans-serif;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.img-container:hover img {
  transform: scale(1.05);
}

.img-container2 {
  overflow: hidden;
}

.img-container2 img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.img-container2:hover img {
  transform: scale(1.05);
}

.img-container3 {
  overflow: hidden;
}

.img-container3 img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.img-container3:hover img {
  transform: scale(1.05);
}

.img-container4 {
  overflow: hidden;
}

.img-container4 img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.img-container4:hover img {
  transform: scale(1.05);
}

.img-container5 {
  overflow: hidden;
}

.img-container5 img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.img-container5:hover img {
  transform: scale(1.05);
}

.img-container6 {
  overflow: hidden;
}

.img-container6 img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.img-container6:hover img {
  transform: scale(1.05);
}

.aboutme {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: 210px;
}

.aboutme h4 {
  font-size: 18px;
  margin-bottom: 35px;
  font-weight: 600;
}

.aboutme p {
  color: #777777;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
}

.aboutme svg {
  fill: #777777;
  width: 13px;
}

.aboutme span {
  color: #fcdc00;
}

.Newsletter {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Newsletter h4 {
  font-size: 18px;
  margin-bottom: 35px;
  font-weight: 600;
}

.Newsletter p {
  color: #777777;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 10px;
}

input {
  width: 750px;
  border: 1px solid #ccc;
  height: 40px;
  
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: sans-serif;
  padding-left: 15px;
}
.Newsletter svg {
  width: 15px;
  fill: black;
  border: transparent;
}

.Newsletter button {
  height: 40px;
  width: 40px;
  background-color: #fcdc00;
  border: transparent;
  cursor: pointer;
  position: absolute;
}

.FollowMe {
  color: white;
  font-family: "Poppins", sans-serif;
}

.FollowMe h4 {
  font-size: 18px;
  margin-bottom: 35px;
  font-weight: 600;
}

.FollowMe p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  margin-bottom: 20px;
}

.FollowMe svg {
  fill: #cccccc;
  width: 3%;
  transition: 0.4s;
}

.FollowMe:hover svg {
  fill: #fcdc00;
  transition: 0.4s;
  width: 3%;
}

.FollowMesvg2 {
  fill: #cccccc;
  width: 20%;
}

.svg2 {
  fill: #cccccc;
  width: 0.8%;
  position: relative;
  top: 51px;
  right: 400px;
  transition: 0.4s;
}

.svg2:hover {
  fill: #fcdc00;
  width: 0.8%;
  position: relative;
  top: 51px;
  right: 400px;
  transition: 0.4s;
}
